$vp-c-text: #ffffff; //default text

$vp-c-bg: #000000; //default background
$vp-c-bg-alt: #000000;
$navbar-bg-color: #000000 !default;

$vp-font: "'IBM Plex Mono', monospace";
$vp-font-heading: "'IBM Plex Mono', monospace";
$vp-font-mono: "'IBM Plex Mono', monospace";
